body{
    margin: 0;
}


.content{
    height: 100vh;
    width: 100vw;
}

.headerDiv{
    height: 10vh;
    padding: 0 2em;
    background-color: bisque;
    display: grid;
    grid-template-columns: 10vw 30vw 30vw 30vw;
    align-items: center;
    text-align: center;
}

.HamburgerMenu{
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.HamburgerMenuIcon{
    min-width: 25px;
    min-height: 25px;
    width: fit-content;
    height: fit-content;
    padding: 0.2em;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
}
.OpenHamburgerMenu{
    background-color: bisque;
    color: rgb(57, 122, 243);
    border: 1px solid rgb(57, 122, 243);
    transition: ease-out 0.2s;
}

.OpenHamburgerMenu:Hover{
    background-color: rgb(57, 122, 243);
    color: bisque;
}

.CloseHamburgerMenu{
    background-color: rgb(57, 122, 243);
    color: bisque;
    border: 1px solid rgb(57, 122, 243);
    transition: ease-out 0.2s;
}

.CloseHamburgerMenu:hover{
    background-color: bisque;
    color:rgb(57, 122, 243);
}


.AddButton {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    outline: transparent;
    background: linear-gradient(135deg, #52f321 0%, #45c015 100%);
    color: #fff;
    font-size:2em;
    text-align: center;
    justify-items: center;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
  
.AddButton:hover {
    transition: transform 0.25s, opacity 0.25s;
    cursor: pointer;
    transform: rotate(45deg) scale(1.2);
}

.formCloseButton{
    position: absolute;
    top: -5px;
    right: 5px;  
}

.formCloseButton:hover{
    border: solid 1px rgb(187, 185, 185);
    background-color: lightgray;
    border-radius: 10px;
    cursor:pointer;
}

.VisibilityHidden{
    visibility: hidden;
}